# Домашнее задание к лекции "Базовые понятия статистики"

## Обязательная часть

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. 

### Задание 1. Базовое изучение

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names) и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

### Задание 2. Работа с выбросами

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

### Задание 3. Работа с пропусками

Рассчитать количество выбросов для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

## Дополнительная часть (необязательная)

Выполнить задания 1-3 для всего набора данных.

#### ПРИМЕЧАНИЕ
Домашнее задание сдается ссылкой на репозиторий [GitHub](https://github.com/).
Не сможем проверить или помочь, если вы пришлете:
- файлы;
- архивы;
- скриншоты кода.

Все обсуждения и консультации по выполнению домашнего задания ведутся только на соответствующем канале в slack.

##### Как правильно задавать вопросы аспирантам, преподавателям и коллегам
Прежде чем задать вопрос, попробуйте найти ответ в интернете. Навык самостоятельного поиска информации — один из важнейших. Каждый практикующий специалист любого уровня делает это ежедневно.

Сформулируйте вопрос по алгоритму:  
1) Что я делаю?  
2) Какого результата я ожидаю?  
3) Как фактический результат отличается от ожидаемого?  
4) Что я уже попробовал сделать, чтобы исправить проблему?  

По возможности прикрепите к вопросу скриншоты либо ссылки на код. Не выкладывайте все решение, оставляйте только проблемный и воспроизводимый участок кода.

### Задание 1. Базовое изучение

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names) и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

In [18]:
import pandas as pd

In [19]:
horse_data = pd.read_csv('horse_data.csv')
horse_data

,2,1,530101,38.50,66,28,3,3.1,?,2.1,...,45.00,8.40,?.4,?.5,2.2,2.3,11300,00000,00000.1,2.4
0,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
1,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
2,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
3,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2
4,2,1,528355,?,?,?,2,1,3,1,...,?,?,?,?,1,2,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,1,1,533886,?,120,70,4,?,4,2,...,55,65,?,?,3,2,3205,0,0,2
295,2,1,527702,37.20,72,24,3,2,4,2,...,44.00,?,3,3.30,3,1,2208,0,0,1
296,1,1,529386,37.50,72,30,4,3,4,1,...,60.00,6.80,?,?,2,1,3205,0,0,2
297,1,1,530612,36.50,100,24,3,3,3,1,...,50.00,6.00,3,3.40,1,1,2208,0,0,1
298,1,1,534618,37.2,40,20,?,?,?,?,...,36,62,1,1,3,2,6112,0,0,2

In [20]:
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 28 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   2        299 non-null    object
 1   1        299 non-null    int64
 2   530101   299 non-null    int64
 3   38.50    299 non-null    object
 4   66       299 non-null    object
 5   28       299 non-null    object
 6   3        299 non-null    object
 7   3.1      299 non-null    object
 8   ?        299 non-null    object
 9   2.1      299 non-null    object
 10  5        299 non-null    object
 11  4        299 non-null    object
 12  4.1      299 non-null    object
 13  ?.1      299 non-null    object
 14  ?.2      299 non-null    object
 15  ?.3      299 non-null    object
 16  3.2      299 non-null    object
 17  5.1      299 non-null    object
 18  45.00    299 non-null    object
 19  8.40     299 non-null    object
 20  ?.4      299 non-null    object
 21  ?.5      299 non-null    object
 22  2.2      299 non-null    object
 23  2.3      299 non-null    int64
 24  11300    299 non-null    int64
 25  00000    299 non-null    int64
 26  00000.1  299 non-null    int64
 27  2.4      299 non-null    int64
dtypes: int64(7), object(21)
memory usage: 65.5+ KB

In [32]:
columns = {'2':'surgery', '1':'age', 
                            '5':'pain','4':'peristalsis','4.1':'abdominal distension', 
                            '?.1':'nasogastric tube',
                            '2.2':'outcome','2.3':'surgical lesion'}

In [33]:
(horse_data.rename(columns=columns, 
                   inplace=True))

for col_name in horse_data.columns:
    if col_name not in columns.values():
        horse_data.drop(col_name, axis = 1, inplace=True)

In [44]:
for col in horse_data.columns:
    print(f'{col}:{horse_data[col].isnull().mean()}')

surgery: 0.0%
age: 0.0%
pain: 0.0%
peristalsis: 0.0%
abdominal distension: 0.0%
nasogastric tube: 0.0%
outcome: 0.0%
surgical lesion: 0.0%

In [55]:
horse_data.head()

,surgery,age,pain,peristalsis,abdominal distension,nasogastric tube,outcome,surgical lesion
0,False,1,3,4,2,?,3,2
1,False,1,3,3,1,?,1,2
2,False,9,2,4,4,1,2,1
3,False,1,?,?,?,?,2,2
4,False,1,2,3,2,2,1,2

In [53]:
for col in horse_data.columns:
    horse_data[col].apply(lambda x: if x=='?' nu) 
horse_data = horse_data.apply(lambda x: if)
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery               299 non-null    bool
 1   age                   299 non-null    int64
 2   pain                  299 non-null    object
 3   peristalsis           299 non-null    object
 4   abdominal distension  299 non-null    object
 5   nasogastric tube      299 non-null    object
 6   outcome               299 non-null    object
 7   surgical lesion       299 non-null    int64
dtypes: bool(1), int64(2), object(5)
memory usage: 16.8+ KB